/* Estilos generales */
:root {
    --blue1: #002931;
    --blue2: #0B95BB;
    --gray1: #f2f2f2;
    --gray2: #ddd;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--gray1);
}

.container-main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.header {
    background-color:  #ffffff;;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd; /* Borde inferior para separación */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-hwi {
    width: 150px;
    height: auto;
}


.button-volver {
    background-color: var(--blue2);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-volver:hover {
    background-color: #087795;
}

/* Estilos para la tabla de solicitudes */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--gray2);
    border-right: 1px solid var(--gray2); /* Agregado para el delineado de columnas */
}

th {
    background-color: var(--blue1);
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Delineado de última columna */
th:last-child, td:last-child {
    border-right: none;
}

/* Estilos para los botones de filtro */
.button-filtro {
    background-color: var(--blue2);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.button-filtro:hover {
    background-color: #087795;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}