:root{
    --blue: #001013fa;
    --ligth-blue:#0B95BB;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
}

h1, h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p, label, input, select {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.buttons {
    text-align: right;
}

.button-mis-solicitudes {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.index-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.section h1 {
    margin-top: 0;
}

.section p {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.label-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    width: 320px;
    padding: 4px;
}

.input-container {
    flex: 1;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #2f6e31;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    height: 50px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}
