:root {
    --blue1: #002931;
    --blue2: #0B95BB;
    --gray1: #555;
    --gray2: #ddd;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--blue1);
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
}

ul li {
    padding: 15px 20px;
    border-bottom: 1px solid var(--gray2);
    transition: background-color 0.3s;
}

ul li:last-child {
    border-bottom: none;
}

ul li:hover {
    background-color: #f9f9f9;
}

ul li strong {
    font-weight: bold;
    color: var(--blue1);
}

ul li span {
    font-weight: 400;
    color: var(--blue2);
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-aceptar {
    background-color: #4CAF50; /* Verde */
    color: white;
}

.btn-rechazar {
    background-color: #f44336; /* Rojo */
    color: white;
}

.btn:hover {
    opacity: 0.8;
}
.button-container{
    display: flex;
    justify-content: space-evenly;
}
.header {
    background-color:  #ffffff;;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd; /* Borde inferior para separación */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.buttons {
    text-align: right;
}

.button-volver {
    background-color: var(--blue2);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-volver:hover{
    background-color: #087795;
}

.logo-hwi {
    width: 100px;
    height: 80px;
    
}
#subcategoria-container {
    margin-top: 20px;
}

#subcategoria-container label {
    display: block;
    margin-bottom: 5px;
}

#subcategoria-container input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
