:root {
    --blue1: #002931;
    --blue2: #0B95BB;
    --gray2: #ddd;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: "Roboto", sans-serif;
}

h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--blue1);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

ul li {
    padding: 15px 20px;
    border-bottom: 1px solid var(--gray2);
}

ul li:last-child {
    border-bottom: none;
}

ul li:nth-child(even) {
    background-color: #f9f9f9;
}

ul li:nth-child(odd) {
    background-color: #ffffff;
}

ul li:nth-child(odd):hover,
ul li:nth-child(even):hover {
    background-color: #f1f1f1;
}

ul li strong {
    font-weight: bold;
    color: var(--blue1);
}

ul li span {
    font-weight: 400;
    color: var(--blue2);
}
